[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky.git
	branch = kirkstone
[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = https://git.yoctoproject.org/meta-arm.git
	branch = kirkstone
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "layers/meta-tm3"]
	path = layers/meta-tm3
	url = https://github.com/bluechiptechnology/meta-tm3.git
